<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C3D0FDF02225F5DE0078E530</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C3D0FE072225F5DE0078E530</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C3D0FE122225F5DF0078E530</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
